body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-pop: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --purple: #4e598c;
  --grey: #bdbdbd;
  --grey2: #4f4f4f;
  --light: #817e9e;
  --orange: #f2994a;
  --blue: #2f80ed;
  --gradient: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
